In [2]:
import pandas as pd

In [3]:

#Dataset1 - CBD Ped Daily
Data1 = pd.read_csv('Data/Melbourne_Pedestrians_Daily.csv')
Data1.head()

         Date   count
0  01-01-2010  190044
1  01-01-2011  210730
2  01-01-2012  217581
3  01-01-2013  212486
4  01-01-2014  378793

In [4]:
#Dataset2 - Lock down Dates
Data2 = pd.read_csv('Data/lockdowndates.csv')
Data2.head()

        Date   Stage
0  2/08/2020  Stage 4
1  3/08/2020  Stage 4
2  4/08/2020  Stage 4
3  5/08/2020  Stage 4
4  6/08/2020  Stage 4

In [5]:
#Dataset3 - Lock down Dates
Data3 = pd.read_csv('Data/cbd_sensor_summary_data.csv')
Data3.head()

         Date  Vehicle Count
0  01-01-2019          10506
1  01-01-2020          13996
2  01-02-2019          17848
3  01-02-2020          19155
4  01-03-2019          20167

In [6]:
#Dataset4 - daily covid case's 
Data4 = pd.read_csv('Data/covid_metro_daily.csv')
Data4.head()

   Postcode diagnosis_date  acquired  Localgovernmentarea
0      3000      4/01/2020         1                    1
1      3000      4/04/2020         1                    1
2      3000      4/06/2020         1                    1
3      3000      6/03/2021         2                    2
4      3000      7/03/2020         1                    1