In [7]:
import pandas as pd

In [19]:

#Dataset1 - CBD Ped Daily
Data1 = pd.read_csv('Data/Melbourne_Pedestrians_Daily.csv')
Data1 = Data1.set_index('Date')
Data1.head()

             count
Date
01-01-2010  190044
01-01-2011  210730
01-01-2012  217581
01-01-2013  212486
01-01-2014  378793

In [31]:
#Dataset2 - Lock down Dates
Data2 = pd.read_csv('Data/lockdowndates.csv')
Data2['Date'] = pd.to_datetime(Data2['Date']).dt.strftime('%d-%m-%Y')
Data2 = Data2.set_index('Date')
Data2.head()

             Stage
Date
08-02-2020  Stage 4
08-03-2020  Stage 4
08-04-2020  Stage 4
08-05-2020  Stage 4
08-06-2020  Stage 4

In [20]:
#Dataset3 - Lock down Dates
Data3 = pd.read_csv('Data/cbd_sensor_summary_data.csv')
Data3 = Data3.set_index('Date')
Data3.head()

            Vehicle Count
Date
01-01-2019          10506
01-01-2020          13996
01-02-2019          17848
01-02-2020          19155
01-03-2019          20167

In [43]:
#Dataset4 - daily covid case's 
Data4 = pd.read_csv('Data/covid_metro_daily.csv')
Data4['diagnosis_date'] = pd.to_datetime(Data4['diagnosis_date']).dt.strftime('%d-%m-%Y')
Data4 = Data4[['diagnosis_date','acquired']].groupby('diagnosis_date').agg({'acquired' :'sum'})  
Data4.head()

                acquired
diagnosis_date
01-01-2021            10
01-03-2020             2
01-04-2020            54
01-05-2020            10
01-06-2020             9

In [62]:
#the joined data
Data5 = Data1.join(Data2)
Data5 = Data5.join(Data3)
Data5 = Data5.join(Data4)
Data5 = Data5.rename(columns={'count':'Pedestrians_Count','Vehicle Count':'Vehicle_Count','acquired':'Covid_Cases','Stage ':'Lockdown_Stage'})
Data5['Lockdown_Stage'] = Data5['Lockdown_Stage'].fillna('Stage 0')
Data5['Covid_Cases'] = Data5['Covid_Cases'].fillna(0)
pd.options.display.float_format = '{:,.0f}'.format
Data5.head(12)

            Pedestrians_Count Lockdown_Stage  Vehicle_Count  Covid_Cases
01-01-2010             190044        Stage 0            nan            0
01-01-2011             210730        Stage 0            nan            0
01-01-2012             217581        Stage 0            nan            0
01-01-2013             212486        Stage 0            nan            0
01-01-2014             378793        Stage 0            nan            0
01-01-2015             471563        Stage 0            nan            0
01-01-2016             518947        Stage 0            nan            0
01-01-2017             492152        Stage 0            nan            0
01-01-2018             613780        Stage 0            nan            0
01-01-2019             551774        Stage 0         10,506            0
01-01-2020             710047        Stage 0         13,996            0
01-01-2021             396955        Stage 0            nan           10

In [63]:
#export the summary data into the csv
Data5.to_csv('Data/Summary_Data.csv')