In [57]:
import sqlalchemy as db
import pandas as pd

In [58]:
engine = db.create_engine('postgresql://Fred:Password123@180.150.50.183:5432/Bootcamp')
connection = engine.connect()
metadata = db.MetaData()
Pedestrian_Data = db.Table('Pedestrian_Data', metadata, autoload=True, autoload_with=engine)

In [59]:
#Retrive all of the data from the database
query = db.select([Pedestrian_Data])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
df = pd.DataFrame(ResultSet)
df = df[[0,1,8,9]]
df = df.rename(columns={0:'ID', 1:'Date',8:'Location',9:'count'})
df.head()

        ID                    Date                      Location  count
0  1827980  04/26/2017 10:00:00 PM               Lygon St (West)    187
1  1827981  04/26/2017 10:00:00 PM  Flinders St-Spring St (West)     59
2  1827982  04/26/2017 10:00:00 PM          Flinders St-Spark La     47
3  1827983  04/26/2017 10:00:00 PM                     Southbank    448
4  1827984  04/26/2017 10:00:00 PM               Queen St (West)     64

In [61]:
#determine hourly pedestrian count all sensors and export to csv
df_hourly = df[['Date','count']].groupby('Date').agg({'count' :'sum'})
df_hourly.to_csv('Data/Melbourne_Pedestrians_Hourly.csv')
#determine Daily pedestrian count all sensors and export to csv
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')
df_daily = df[['Date','count']].groupby('Date').agg({'count' :'sum'})
df_daily.to_csv('Data/Melbourne_Pedestrians_Daily.csv')